html {
    font-family: 'Lora', sans-serif;
    width: 100%;
  }
  
  body {
    margin: 5% auto 0 auto;
    width: 90%;
    max-width: 1125px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 2.5%;
  }
  
  input,
  span,
  label,
  textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    border: none;
    font-size: 22px;
  }
  
  textarea:focus,
  input:focus {
    outline: 0;
  }

  input.question,
  textarea.question {
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
  }

  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }
  
  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
  }
  
  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
  }
  
  input.question:valid + label,
  textarea.question:valid + label {
    border-color: green;
  }
  
  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }
  
  input.question + label > span,
  textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #EEE;
  }
  
  input[type="submit"]:active {
    background: #999;
  }
  
  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }
  
  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
.tableText {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 2% 0 0 0;
  }

.areaOneBox {
    width: 95%;
    height: 78%;
    padding: 0 2% 0 0;
  }

.areaTwoBox {
    width: 45%;
    height: 75%;
    padding: 0 0 0 2%;
}

.areaOne {
    width: 100%;
    height: 50%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    margin-top: 10px;
}

.areaTwo {
    width: 100%;
    height: 90%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    /* border-style: none solid solid none; */
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    margin-top: 10px;
}

.flexTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.buttonOne:hover {
  background-color: #EEE;
  border: 1px solid #5555;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  border-radius: 5%;
  cursor: pointer;
  transition: all .5s ease-in-out
}

.buttonTwo:hover {
  background-color: #EEE;
  border: 1px solid #5555;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  border-radius: 5%;
  cursor: pointer;
  transition: all .5s ease-in-out
}

.buttonThree:hover {
  background-color: #EEE;
  border: 1px solid #5555;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  border-radius: 5%;
  cursor: pointer;
  transition: all .5s ease-in-out
}
